<!DOCTYPE html>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->
<meta charset="utf-8">
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--title><%= title %></title>-->
    <title>Web Traffic KPI</title>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <link href="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/css/styles.css" rel="stylesheet">
    <link href="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/css/nv.d3.css" rel="stylesheet" type="text/css">
    <link href="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/css/dojo.css" data-dojo-config="async: true">
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/css/base.css" />

    <script type="text/javascript" src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/prototype.js" ></script>
    <script language="javascript" type="text/javascript" src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/d3.v3.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/dojo.js"></script>
    <script language="javascript" type="text/javascript" src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/nv.d3.js"></script>
    <script language="javascript" type="text/javascript" src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/i_ui_gauge.js"></script>
    <script language="javascript" type="text/javascript" src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/i_ui_websocket.js"></script>
    <script language="javascript" type="text/javascript" src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/i_ui_digit.js"></script>
    <script language="javascript" type="text/javascript" src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/i_ui_county.js"></script>

    <style>

        #mapcounty{
            fill: white;
            margin: 12px;
            padding: 12px;
            height: 520px;
            width: 1000px;
            background-color:black;
        }
        .background {
            fill: none;
            pointer-events: all;
        }

        .feature {
            fill: #ccc;
            cursor: pointer;
        }

        .feature.active {
            fill: orange;
        }
        body {
            margin: 12px;
            padding: 0px;
            height: 520px;
            width: 1000px;
            font: 10px sans-serif;
            text-align:center;
        }
        .mesh {
            fill: none;
            stroke: #fff;
            stroke-linecap: round;
            stroke-linejoin: round;
        }
        .svg{
            margin: 12px;
            padding: 0px;
            height: 600px;
            width: 1000px;
            font: 10px sans-serif;
        }

    </style>

</head>

<body class="tundra">
<script src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/d3.v3.min.js" charset="utf-8"></script>
<script type="text/javascript" src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/d3.v3.js"></script>
<script type="text/javascript" src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/d3.tip.v0.6.3.js"></script>
<link href="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/css/nv.d3.min.css" rel="stylesheet">
<script src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/js/nv.d3.min.js"></script>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

                <!--<img src="images/spark-logo-black-color.png" alt="spark" style=""/>-->
                <div id="div_spark_logo_activate" class="spark_logo_activate"></div>
                <div id="div_spark_logo_deactivate" class="spark_logo_deactivate"></div>
                <div id="g_d3" style="float:right;"></div>
                <div id="g_socket" style="float:right;"></div>
                <div id="g_spark" style="float:right;"></div>
                <div id="g_cdc" style="float:right;"></div>


                <a href="https://github.com/ivanyinusa"><img src="https://rawgit.com/ivanyinusa/WebKPI/gh-pages/images/dashboard_lightblue_trans.png" style="width:60px;float:left;" /></a>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar4">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav navbar-left container-fluid">
                    <li class="active"><a href="/WebKPI">Home</a></li>
                    <li><a href="/test">Test</a></li>
                    <li><a href="/debug">Debug</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="#">About</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right container-fluid">

                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>

            </div>
        </div>
    </div>
</nav>
<div id="mapcounty"></div>

<script>

    var width = 500;
    var height = 260;
    var active = d3.select(null);
    var ls_w = 20;
    var ls_h = 20;
    var initialized = 0;
    var scale_width = 460;
    var map_instance = d3.map();
    var gis_data = "";
    var ui_test = new i_ui_county();

</script>
<script language="javascript" type="text/javascript">
    var gAgent = navigator.userAgent;
    var gName = navigator.appName;
    var fullVer = "" + parseFloat(navigator.appVersion);
    var majorVer = parseInt(navigator.appVersion, 10);
    var sName, sVer, sTrim;
    if ((sVer = gAgent.indexOf("Opera")) != -1) {
        gName = "Opera";
        fullVer = gAgent.substring(sVer + 6);
        if ((sVer = gAgent.indexOf("Version")) != -1) fullVer = gAgent.substring(sVer + 8);
    } else if ((sVer = gAgent.indexOf("MSIE")) != -1) {
        gName = "Microsoft Internet Explorer";
        fullVer = gAgent.substring(sVer + 5);
    } else if ((sVer = gAgent.indexOf("Sleipnir")) != -1) {
        gName = "Sleipnir";
        fullVer = gAgent.substring(sVer + 9);
    } else if ((sVer = gAgent.indexOf("Chrome")) != -1) {
        gName = "Chrome";
        fullVer = gAgent.substring(sVer + 7);
    } else if ((sVer = gAgent.indexOf("Safari")) != -1) {
        gName = "Safari";
        fullVer = gAgent.substring(sVer + 7);
        if ((sVer = gAgent.indexOf("Version")) != -1) fullVer = gAgent.substring(sVer + 8);
    } else if ((sVer = gAgent.indexOf("Firefox")) != -1) {
        gName = "Firefox";
        fullVer = gAgent.substring(sVer + 8);
    } else if ((sName = gAgent.lastIndexOf(' ') + 1) < (sVer = gAgent.lastIndexOf('/'))) {
        gName = gAgent.substring(sName, sVer);
        fullVer = gAgent.substring(sVer + 1);
        if (gName.toLowerCase() == gName.toUpperCase()) {
            gName = navigator.appName;
        }
    }

    if ((sTrim = fullVer.indexOf(";")) != -1) fullVer = fullVer.substring(0, sTrim);
    if ((sTrim = fullVer.indexOf(" ")) != -1) fullVer = fullVer.substring(0, sTrim);
    majorVer = parseInt('' + fullVer, 10);
    if (isNaN(majorVer)) {
        fullVer = '' + parseFloat(navigator.appVersion);
        majorVer = parseInt(navigator.appVersion, 10);
    }
    if ((gAgent.indexOf("MSIE")) != -1 && (majorVer) <= 9) {
        $("browser_com").innerHTML = "<br><font style='color:red'>The WebSockets property is not supported by IE9 and eariler</font>";
        $("browser_detect").innerHTML = "<br><B>Current Browser:</B><font style='color:red'>" + gName + " " + majorVer + "</font>";
    }
    else $("browser_detect").innerHTML = "<br><B>Current Browser:</B><font style='color:green'>" + gName + " " + majorVer+"</font>";
</script>

</body>
</html>
