<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=10"/>
</head>
<body>
<script language="javascript" type="text/javascript">
    var host,port,channel;
    var query_string = window.location.search.substring(1);
    var ar=query_string.split("&");
    host=ar[0].split("=")[1];
    port=ar[1].split("=")[1];
    channel=ar[2].split("=")[1];

    if(host!=""||port!=""){
        var ws_status="standby";
        var ws_message="";
        var url="ws://"+host+":"+port+"/"+channel+"/";

        var ws = new WebSocket(url);
        ws.onopen = function() {
            ws_status="connected";
            write_status(ws_status);
            if(parent.pagetag) ws.send(parent.pagetag);
        };

        var oldmsg=null;
        ws.onmessage = function (evt) {
            if(oldmsg!=evt.data){
                oldmsg=evt.data;
                ws_message=evt.data;
                write_message(ws_message);
            }
        };

        ws.onclose = function() {
            ws_status="disconnected";
            write_status(ws_status);
        };

        ws.onerror = function(err) {
            ws_status="error";
        };

        function write_status(message){
            document.getElementById("lbl_status").innerText=message;

            if(parent&&parent.i_ui_realtime_websocket&&parent.i_ui_realtime_websocket.set_status){
                parent.i_ui_realtime_websocket.set_status(message);
            }else{
                alert(message);
            }
        }

        function write_message(message){
            document.getElementById("lbl_status").innerText=message;
            if(parent&&parent.i_ui_realtime_websocket&&parent.i_ui_realtime_websocket.set_message){
                parent.i_ui_realtime_websocket.set_message(message);
            }else{
                alert(message);
            }
        }
    }

</script>
<div id="lbl_status"></div>
</body>
</html>
